[connection]
id=EnabelFortinet
uuid=809350fd-26ba-4a69-9744-ad7192e31e23
type=vpn
autoconnect=false
permissions=
timestamp=

[vpn]
gateway={{fortivpn_gateway}}
otp-flags=0
password-flags=0
trusted-cert={{fortivpn_trustedcert}}
user={{fortivpn_user}}
service-type=org.freedesktop.NetworkManager.fortisslvpn

[vpn-secrets]
password={{fortivpn_password}}

[ipv4]
dns={{fortivpn_dns}}
dns-search=
method=auto
never-default=true
{% for fortivpn_route in fortivpn_routes %}
{{ fortivpn_route.name }}={{ fortivpn_route.value }}
{% endfor %}

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=ignore

[proxy]
